body {
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 382.5px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.menu li {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    
}
.menu a {
    color: black; 
    text-decoration: none; 
    padding: 14px 20px; 
    font-size: 20px;
}
.rectangle {
    background-color :#00bdc9;
    padding: 92px 401px 92px 400px;
    border: 0px solid black;
    }
.rectangle img {
    background-color :#00bdc9;
    display: block;
    margin: 0 auto;
}
.title {
    margin-top: 88px;
    font-weight: 600;
    font-size: 48px;
    line-height: 135%;
    text-align: center;
    color: #000;
}
.content {
    margin-left: 262px;
    margin-right: 272px;
}
.text {
font-weight: 500;
font-size: 21px;
line-height: 150%;
color: #161616;
width: 800px;

}
.text1 {
color: #04959E;
}


.list {
    width: 800px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #161616;
    margin-bottom:  40px;  
}
.button {
    margin-left: 345.5px;
    margin-right: 355.5px;
    background: #04959e;
    color: #ffffff;
    border: none; 
    font-size: 16px; 
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    margin-bottom: 88px; 
    cursor: pointer;
}
.line{
    height: 1px;
    background: #161616;
}
.end { 
    padding-top 16px;
    padding-bottom: 16px;
    text-align: center;

}